@model ProjetoDeSia.Models.Item
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <!-- vai se transformar na classificacao-->
            <div class="form-group">
                <label asp-for="QuadId" class="control-label"></label>
                <select asp-for="QuadId" class="form-control" asp-items="ViewBag.QuadId"></select>

            </div>
            <!-- vou ter de meter uma combobox de 0 a 5 em string-->
            <div class="form-group">
                <label asp-for="Importancia" class="control-label"></label>
                @*<input asp-for="Importancia" class="form-control" />
                    <span asp-validation-for="Importancia" class="text-danger"></span>*@
                <select asp-for="Importancia" class="form-control">
                    <option value=0>Totalmente sem importância</option>
                    <option value=1>Pouca importância</option>
                    <option value=2>Importante</option>
                    <option value=3>Muito importante</option>
                    <option value=4>Totalmente importante</option>
                </select>
            </div>


            <!--------------------------- A PARTIR DAQUI TUDO É GERADO NOS CONTROLLERS.-------------------------------------->
            <!-- acho que vai ser gerada automaticamente-->
            <div class="form-group" hidden>
                <label asp-for="Pontucao" class="control-label"></label>
                <input asp-for="Pontucao" class="form-control" />
                <span asp-validation-for="Pontucao" class="text-danger"></span>
            </div>
            <!-- vai ser gerada dentro do controller e vai ser o nome do quadrante-->
            <div class="form-group" hidden>
                <label asp-for="classificacao" class="control-label"></label>
                <input asp-for="classificacao" class="form-control" />
                <span asp-validation-for="classificacao" class="text-danger"></span>
            </div>
            <!-- vai ser gerada no controller-->
            <div class="form-group" hidden>
                <label asp-for="TecnicaId" class="control-label"></label>
                <select asp-for="TecnicaId" class="form-control" asp-items="ViewBag.TecnicaId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-controller="Tecnicas" asp-action="EntrarTecnica" asp-route-id="@Context.Session.GetInt32("TecnicaId")">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
