@model ProjetoDeSia.Models.Utilizador
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "EditarNome";
}

<!-- Esta pagina só pode ser acedida pelo utilizador logado-->

@if (Context.Session.GetString("UtilizadorId") == Model.IdUtilizador.ToString())
{
    <h1>EditarNome</h1>

    <h4>Utilizador</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditarNome">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdUtilizador" />
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Categoria" class="control-label"></label>
                    <input asp-for="Categoria" class="form-control" />
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

   
<div>
    <a  asp-area = "" asp-controller = "Utilizadors" asp-action = "Perfil" asp-route-id = "@Convert.ToInt32(Context.Session.GetString("UtilizadorId"))">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
}
else
{
<h1>Erro!!</h1>
<h1>Voce não tem autorização para aceder a esta página</h1>
}

